@model IEnumerable<_451_FinalChallenge.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
  <tr>
    <th>
      @Html.DisplayNameFor(model => model.StudentFName)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.StudentLName)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.EnrollmentDate)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.StudentID)
    </th>
    <th></th>
  </tr>

@foreach (var item in Model) {
<tr>
  <td>
    @Html.DisplayFor(modelItem => item.StudentFName)
  </td>
  <td>
    @Html.DisplayFor(modelItem => item.StudentLName)
  </td>
  <td>
    @Html.DisplayFor(modelItem => item.EnrollmentDate)
  </td>
  <td>
    @Html.DisplayFor(modelItem => item.StudentID)
  </td>
  <td>
    @Html.ActionLink("Edit", "Edit", new { id = item.StudentID }) |
    @Html.ActionLink("Details", "Details", new { id = item.StudentID }) |
    @Html.ActionLink("Delete", "Delete", new { id = item.StudentID })
  </td>
</tr>
}

</table>
